.footer__email-phone{
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
    padding: 0;
}

@media screen and (max-width : 768px) {
    .footer__email-phone{
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width : 375px) {
    .footer__email-phone{
        margin: 0;
    }
}