@import url('./_title/header__text_title.css');
@import url('./_subtitle/header__text_subtitle.css');
.header__text{
    padding-left: 165px;
    position: relative;
    padding-top: 145px;
    
}

@media screen and (max-width : 1370px) {
    .header__text{
        padding-top: 100px;
        padding-left: 0;
    
    }
}

@media screen and (max-width : 500px) {
    .header__text{
        padding-top: 50px;
    }
}