.skills__list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__list-row:first-child {
    margin-bottom: 20px;
}


@media screen and (max-width : 767px) {
    .skills__list-row:first-child {
        margin-bottom: 10px;
    }
}