.footer__back {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 70px;
    right: 180px;
    text-decoration: none;
    background-image: url('../../../images/up.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__back:hover {
    opacity: 0.5;
}

@media screen and (max-width : 768px) {
    .footer__back{
        bottom: 35px;
        right: 90px;
    }
}

@media screen and (max-width : 400px) {
    .footer__back{
        bottom: 58px;
        right: 32px;
    }
}