.header__main-link {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
    color: white;
}

.header__main-link:hover {
    opacity: 0.5;   
    transition: linear 0.4s;
}